{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}Home
{% block body  %}
<div class="album py-5 bg-light">
    <div class="container my-3">
      <h1 class-"my-2">Contact Us</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src ="/static/img/gmail.png">

            <div class="card-body">
              <p class="card-text">Gmail</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href = "https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSHwClxKcbwXTDQSHjJpfSZmNnDXgTbpRQvhLCzblRVwMCnhwKHmXLrFNmZLZVqHLwSVhqrRx">
                <button type="button" class="btn btn-sm btn-outline-secondary">Open</button>
                </a>
                  
                
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src ="/static/img/discord.jpg">
            <div class="card-body">
              <p class="card-text">Discord</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href = "https://discord.gg/MFBXG5Be">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Open</button>
                  </a>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          <img src ="/static/img/linkedin.png">
            <div class="card-body">
              <p class="card-text">LinkedIn</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a href = "https://www.linkedin.com/in/anurag-sharma-bb2684207/">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Open</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

{% endblock body  %}


